<br>
<h1> Online Election </h1>
<div>
<ul>
	<li><a href="/voters">Voters List</a><br><br></li>
	<li><a href="/candidates">Candidates List</a><br><br></li>
	<li><a href="/sessions/log_in">Voters Log In</a><br><br></li>
</ul>
</div>