<h1>Log in</h1>
<br>
<form action="/sessions/logged_in" method="get">
  <p>
    <b>Voter_Id</b><br />
    <input type="text" name="id" >
  </p>

  <p>
    <b>Password</b><br />
    <input type="password" name="password">
  </p>
  
  <p>
    <input type="submit" value="Log In">
  </p>
</form>
<br />

<a href="/sessions">Home</a>